@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
input {
    width: 75px;
    height: 70px;
    background-color: #ba604a;
    border: 1px solid #4b0215;
    font-weight: bold;
    font-size: 35px;
}

.calculator {
    width: 100%;
    padding-top: 3%;
    background-color: #5e6a4f;
}
.calculator__title {
    text-align: center;
    color: #253a1b;
    text-shadow: 2px 2px #2e1600;
    max-width: 80%;
    margin: auto;
    font-family: "Paytone One", sans-serif;
    font-size: 50px;
}
.calculator__box {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.calculator__box--row {
    display: flex;
    flex-direction: row;
}
.calculator__box--equals {
    background-color: #4b0215;
    color: white;
}
